ul{
  color:brown}
h1{color:blueviolet}
html {font-family: 'Noto Sans TC', sans-serif;}
	
h1 {
  font-size: 30px;
  text-align: center;
  margin:0;
  text-shadow:2px 2px 30px red;
}
h2 {
  font-size: 20px;
  text-align: center;
}
body {
  /* The image used */
  background-image: url("../images/564d7708097fcf9e3afc35d896da492d_t.jpeg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  height: 200px;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 5px;
}
